@font-face {
    font-family: "Marons";
    src: url(/Fonts/Marons-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "AlleyCat";
    src: url(/Fonts/alleycat_icg.ttf) format('truetype');
}

@font-face{
    font-family: "Manuale";
    src: url(/Fonts/Manuale-Regular.ttf) format('truetype');
}

body {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(176,222,244,1) 40%);
    background-repeat: no-repeat;
    margin: 0px;
    font-family: Arial, sans-serif;
}

.normal-version {
    display: block;
}

.phone-version {
    display: none;
}

/* Header */

#header-logo {
    height: 40px;
    width: auto;
}

.nav-container {
    background-color: #15B2D3;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-left {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-right a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 5px 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-right a:hover {
    color: white;
}

/* Content */

.HeroPage {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DescriptionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    width: 75%;
    height: 600px;
    background: linear-gradient(119deg, rgba(65,89,165,1) 0%, rgba(25,34,63,1) 41%, rgba(14,19,36,1) 100%);
    background-size: cover;
    border-radius: 20px;
    padding: 20px;

}

.DescriptionLeft, .DescriptionRight {
    padding: 20px;
    
}

.DescriptionLeft {
    position: relative;
    
    margin-right: 20px;
}

.DescriptionLeft h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    
}

.DescriptionLeft p {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: white;
    width: 80%;
    text-align: justify;
}

.DescriptionRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ArtistImage {
    width: 200%;
    height: 500px;
}

.LyricsBoxAndCoverBox {
    margin-left: 20px;
    margin-right: 20px;
    width: 25%;
    height: 600px;
    background: white;
    border-radius: 20px;
    padding: 20px;
    overflow-y: scroll;
    
}

.SongAlbumCover{
    line-height: 0.5;
}

.SongAlbumCover h2{
    font-size: 18px;
    text-align: left;

}
.SongAlbumCover p{
    font-size: 14px;
    text-align: left;
    
}
.LyricsThing {
    font-size: 30px;
    margin-bottom: 20px;
    
}

.MusicLyrics {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    
}
.audio-player {
    display: flex;
    flex-direction: column;
    margin-top: 260px;
    
}

.timeline {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 10px;
}

.timeline span {
    margin: 0 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
}

input[type="range"] {
    flex-grow: 1;
    width: 100%;
}

.controls {
    
    display: flex;
    gap: 20px;
    margin-left: 28%;
}

.controls button {
    
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
}

.controls button:hover {
    background-color: #ccc;
}

/* Footer */

footer {
    margin-top: 50px;
    background-color: #15B2D3;
    padding: 20px 0;
    border-top: 3px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content.contact {
    flex: 1;
    text-align: left;
}

.footer-content.social {
    flex: 1;
    text-align: right;
}

.footer-content h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-content p {
    color: black;
    margin: 5px 0;
}

.footer-content .social-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-content .social-list li {
    margin-left: 20px;
}

.social-icon-circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon-circle img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
}

.social-icon-circle:hover img {
    transform: scale(1.1);
}


@media (max-width:1024px) {

    .ArtistImage {
    width: 200%;
    height: 450px;
    }

    .DescriptionLeft h1 {
        font-size: 30px;
        margin-bottom: 20px;
        color: white;
        
    }
    
    .DescriptionLeft p {
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: white;
        width: 80%;
       
    }

    .controls {
        display: flex;
        gap: 20px;
        margin-left: 20%;
    }

    .SongAlbumCover img{
        width: 100%;
        height: auto;
    }

    .SongAlbumCover h2{
        font-size: 16px;
        text-align: left;
    
    }
    .SongAlbumCover p{
        font-size: 12px;
        text-align: left;
        
    }
    .LyricsThing {
        font-size: 25px;
        margin-bottom: 20px;
        
    }
    
    .MusicLyrics {
        font-size: 12.5px;
        text-align: left;
        line-height: 1.5;
        
    }
}

@media (max-width:768px) {

    .DescriptionBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 20px;
        width: 75%;
        height: 400px;
        background: linear-gradient(119deg, rgba(65,89,165,1) 0%, rgba(25,34,63,1) 41%, rgba(14,19,36,1) 100%);
        background-size: cover;
        border-radius: 20px;
        padding: 20px;
    
    }
    

    .ArtistImage {
        width: 250%;
        height: 250px;
    }

    .DescriptionLeft h1 {
        font-size: 25px;
        margin-bottom: 20px;
        color: white;
            
    }
        
    .DescriptionLeft p {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 20px;
        color: white;
        width: 80%;
           
    }
    .audio-player {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        
    }
    .controls {
        display: flex;
        gap: 15px;
        margin-left: 18%;
    }
    .controls button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
    .timeline span {
        font-size: 12px;
    }
    

    .LyricsBoxAndCoverBox {
        height: 400px;
    }
    .SongAlbumCover h2{
        font-size: 14px;
        text-align: left;
    
    }
    .SongAlbumCover p{
        font-size: 10px;
        text-align: left;
    }

    
    .LyricsThing {
        font-size: 18px;
        margin-bottom: 1px;
    }
    
    .MusicLyrics {
        font-size: 9px;
        text-align: left;
        line-height: 1.5; 
    }
}

@media (max-width: 426px) {

    .normal-version {
        display: none;
    }

    .phone-version {
        display: block;
    }

    #header-logo {
        height: 20px;
        width: auto;
    }
    
    .nav-right a {
        text-decoration: none;
        font-size: 8px;
        color: black;
        padding: 5px 10px;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    .HeroPage {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .DescriptionBox {
        margin: 20px 0;
        width: 90%;
        height: auto;
        padding: 10px;
        flex-direction: column;
    }

    .DescriptionLeft, .DescriptionRight {
        width: 100%;
        padding: 10px;
    }

    .DescriptionLeft {
        order: 2; /* Ensure text comes after image */
    }

    .DescriptionLeft h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .DescriptionLeft p {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .ArtistImage {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
        order: 1;
    }

    .LyricsBoxAndCoverBox {
        width: 90%;
        height: auto;
        margin: 20px 0;
        padding: 10px;
        
    }

    .SongAlbumCover {
        margin-bottom: 10px;
        width: 50%;
        height: auto;
    }

    .SongAlbumCover h2 {
        font-size: 15px;
    }

    .SongAlbumCover p {
        font-size: 12px;
    }

    .LyricsThing {
        
        font-size: 20px;
        margin-bottom: 10px;
    }

    .MusicLyrics {
        
        font-size: 14px;
        line-height: 1.5;
    }

    .audio-player {
        margin-top: 20px;
    }

    .controls {
        margin-left: 20%;
    }

    .controls button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    footer {
        margin-top: 50px;
        background-color: #15B2D3;
        padding: 20px 0;
        border-top: 3px solid black;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .footer-content h3 {
        font-size: 12px;
        margin-bottom: 15px;
    }
    
    .footer-content p {
        color: black;
        margin: 5px 0;
        font-size: 10px;
    }
    
    .social-icon-circle {
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-icon-circle img {
        width: 60%;
        height: auto;
        transition: transform 0.3s ease;
    }
    
    .social-icon-circle:hover img {
        transform: scale(1.1);
    }
}